.img-articulo {
    margin: 40px 10px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 2px 4px 15px;
}

.text__page {
    font-size: xx-large;
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;

}



.wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem;
    grid-template-rows: 30rem 30rem;
    row-gap: 25px;
    justify-content: center;
    ;
    
}