@import './variables';

body {
    background: lightgray;
}




.carrusel {
    width: 80%;
    padding: 10%;
}

.img__index {
    margin: 40px 10px;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 2px 4px 15px;
}

.titulo {
    font-size: 5rem;
    color: black;
    font-family: $titlefont;
    text-align: center;
    text-shadow: 2px;
}

.newsletter {
    font-style: italic;
    font-size: xx-large;
    margin-left: 50px;
}





/*SECCION FORMULARIO - CONTACTO */




.bg-form {
    border-radius: 40px;
    margin-left: 3%;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: inherit;
}



#gridFormu {
    width: 100%;

}


#formu {
    grid-area: formu;


}

#map {
    grid-area: map;
    border-radius: 100px;
}



h3 {
    grid-area: h3;

}

@media(min-width:480x) {
    #gridFormu {
        display: grid;
        grid-template-areas:
            "h3 h3"
            "formu "
            "map";
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        gap: 1px;
    }
}

@media(min-width:768px) {
    #gridFormu {
        display: grid;
        grid-template-areas:
            "h3 h3"
            "formu map";
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        gap: 1px;
    }

}
@media(min-width:1024px) {
    #gridFormu {
        display: grid;
        grid-template-areas:
            "h3 h3"
            "formu map";
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        gap: 1px;
    }

}







/*SECCIÓN CURSOS*/
.cursos__img {
    border-radius: 30px;
    border: 10px solid;
    margin: 30px;
}

.cursos__text {
    text-align: center;
    background-color: azure;
}

h3 {
    font-size: xx-large;
}





footer {
    text-align: center;
    background-color: black;
    color: white;
    grid-area: footer;
}